.genesis_page_advanced_supension_settings .postbox {
	float: left;
	width: 100%;
	padding-bottom: 30px;
}
.genesis_page_advanced_supension_settings .postbox label{
	width:100%;
	float:left;
	padding-bottom: 10px;
}
.genesis_page_advanced_supension_settings .postbox label span{
	width:20%;
	float:left;
}
.genesis_page_advanced_supension_settings .postbox label input{
	width:70%;
	float:left;
}