.site-container{
    background: url("../../images/stripe-bg-v-black.png") repeat-x;

}

.site-container .site-inner {
    margin: 32px auto;
    max-width: 960px;
    min-height: 1100px;
}

/*Sidebar Styles*/

        .sidebar.sidebar-primary {
            background: #2d4b80;
            color: #ffffff;
            min-height: 908px;
            padding-left: 18px;
        }

                /*Site Logo and Description*/
                .sidebar.sidebar-primary #title-area {
                    padding: 5px 0;
                }

                        .sidebar.sidebar-primary #title-area h1.site-title a {
                            font-family: bebas_neueregular,"Helvetica Neue", Helvetica, Arial, sans-serif;
                            font-size: 72px;
                            letter-spacing: .1em;
                            text-decoration: none;
                        }

                        .sidebar.sidebar-primary #title-area .site-description {
                            color: #ffffff;
                            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                            float: left;
                            font-size: 11px;
                            margin-top: 6px;
                            text-indent: 0;
                            text-transform: uppercase;
                        }


                .sidebar.sidebar-primary .contact-info > * {
                    width: 100%;
                    float: left;
                }

                .sidebar.sidebar-primary .contact-info a {
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0.1em;
                    text-align: center;
                }
                .sidebar.sidebar-primary .contact-info p {
                    font-size: 12px;
                    text-align: center;
                 }


                .sidebar.sidebar-primary a {
                    color: #ffffff;
                }


                .sidebar.sidebar-primary .widget {
                    background: transparent;
                    float: left;
                    width: 100%;
                    padding: 30px 0 30px 15px;
                }


                /*Sidebar Main Menu*/
                .sidebar.sidebar-primary .widget #menu-main-navigation {

                }
                            /*First Level Main Menu*/
                        .sidebar.sidebar-primary .widget #menu-main-navigation > li.menu-item:first-child {
                            border-top: 1px dashed #ffffff;
                        }
                        .sidebar.sidebar-primary .widget #menu-main-navigation > li.menu-item {
                            border-bottom: 1px dashed #ffffff;
                            padding: 6px 0;
                            margin: 0;
                        }

                        .sidebar.sidebar-primary .widget #menu-main-navigation > li.menu-item > a {
                            border-bottom: 0;
                            font-family: bebas_neueregular,"Helvetica Neue", Helvetica, Arial, sans-serif;
                            font-size: 24px;
                            letter-spacing: .05em;
                            text-decoration: none;
                        }

                        .sidebar.sidebar-primary .widget #menu-main-navigation > li.menu-item.current-menu-ancestor>a {
                            color: #dc7d20;
                        }


                        /*2nd Level menu*/
                        .sidebar.sidebar-primary .widget #menu-main-navigation ul.sub-menu {
                            border-top: 1px dashed white;
                            padding: 25px 0 10px 15px;
                        }
                                .sidebar.sidebar-primary .widget #menu-main-navigation ul.sub-menu li.menu-item { margin-bottom: 15px;}
                                        .sidebar.sidebar-primary .widget #menu-main-navigation ul.sub-menu li.menu-item > a{
                                            font-size: 12px;
                                        }
                                        .sidebar.sidebar-primary .widget #menu-main-navigation ul.sub-menu li.menu-item.current-menu-item > a {
                                            color: #dc7d20;
                                        }

                /*Sidebar Testimonials Widget*/
        .sidebar.sidebar-primary section#testimonials_widget-2 {
            padding-right: 20px;
        }
                .sidebar.sidebar-primary .entry.testimonials-widget {
                    background: none;
                    border-radius: 0;
                    margin-bottom: 0;
                    padding: 0;
                }
                            .sidebar.sidebar-primary h4.widget-title.widgettitle a {
                                font-family: bebas_neueregular,"Helvetica Neue", Helvetica, Arial, sans-serif;
                                font-size: 24px;
                                letter-spacing: .05em;
                            }

                            .sidebar.sidebar-primary .entry.testimonials-widget blockquote {
                                padding: 0;
                                margin: -65px 0 0;
                                font-size: 14px;
                                border-left: 0;
                                color: #ffffff;
                                font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                                font-style: italic;
                            }

                            .sidebar.sidebar-primary .entry.testimonials-widget blockquote:after {
                                content: "..\201C";
                            }

                            .sidebar.sidebar-primary .entry.testimonials-widget .credit {

                            }


                            .sidebar.sidebar-primary .entry.testimonials-widget .bottom_text a {
                                float: left;
                                font-style: italic;
                                font-size: 14px;
                                font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                                width: 100%;
                            }
/*Social Media Widget*/
.Social_Widget .widget-wrap {
    width: 88%;
    float: none;
    margin: auto;
}
/*Accepted Payments*/
.sidebar.sidebar-primary .widget.accepted-payments {
    padding-top: 0;
}

/*Home Page Styles*/
/*Slider*/

.home .content h4.widget-title.widgettitle {
    font-family: bebas_neueregular;
    font-size: 24px;
    color: #555555;
    margin-bottom: 15px;
}

            /*Service Area*/
            .home .content .service-area .widget {
                width: 47%;
                float: left;
            }

            .home .content .service-area section.widget-first {
                margin-right: 30px;
            }

            /*Latest News and Get in Touch Form / Home Bottom Section*/

            .home .content .home-bottom .featuredpost .entry {
                padding: 0;
                margin-bottom: 30px;
            }
                        /*Post Date*/
                        .home .content .home-bottom .featuredpost .post-date {
                            width: 20%;
                        }

                                    .home .content .home-bottom .featuredpost .post-date .byline.post-info {
                                        background: #ebebeb;
                                        border: 1px solid #404040;
                                        float: left;
                                        padding: 5px 10px;
                                        width: 42px;
                                    }
                                            .home .content .home-bottom .featuredpost .post-date .byline.post-info > * {
                                                float: left;
                                            }

                                            .home .content .home-bottom .featuredpost .post-date .byline.post-info time.entry-time:first-child {
                                                font-family: bebas_neueregular;
                                                font-size: 24px;
                                                line-height: .9em;
                                            }

                                            .home .content .home-bottom .featuredpost .post-date .byline.post-info time.entry-time:last-child {
                                                font-family: "Open Sans";
                                                font-size: 12px;
                                                line-height: .8em;
                                            }
                        /*Post Title and Post Content */
                        .home .content .home-bottom .featuredpost .post-title-content {
                            width: 80%;
                        }

                                    .home .content .home-bottom .featuredpost .post-title-content > h2 {
                                        margin: 0;
                                        font-size: 14px;
                                        font-weight: bold;
                                    }

                                            .home .content .home-bottom .featuredpost .post-title-content > h2 > a {
                                                color: #555555;
                                            }

/*Inner Pages Styles*/

main.content {
    background-color: #ffffff;
    /*min-height: 1400px;*/
}

/*Breadcrumbs*/
.breadcrumb {
    background: url("../../images/breadcrumbs-bg.png") no-repeat right center;
    border-radius: 0;
    color: white;
    float: left;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 0;
    padding: 0 13px 0 0;
    text-transform: uppercase;
}
        .breadcrumb > * {
            background: #2d4b80;
            color: #fff;
            font-size: 12px;
            font-style: italic;
            float: left;
            padding: 8px 10px;
            text-transform: uppercase;
        }

        .breadcrumb a {
            background: #2d4b80 url("../../images/breadcrumbs-separator.png") no-repeat right center ;
            padding-left: 20px;
            padding-right: 26px;
        }
        .breadcrumb strong {
            font-weight: 100;
        }

/*About Page*/
.page .content .row.bg-gray {
    color: #d7d7d7;
    padding: 0;
    margin: 0;
}

    .page .content h2.bg-orange-skew-right{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .07em;
        margin: 0 0 0 -15px;
        text-transform: uppercase;
    }


                li.member-info {
                    padding: 15px 0;
                }

                li.member-info h5.member-name {
                    font-weight: 600;
                    margin: 0;
                }

                li.member-info p.member-information {
                    font-size: 12px;
                    line-height: 1.6em;
                    margin: 10px 0;
                    padding: 0;
                }

                li.member-info p.member-information.text-left {
                    padding-left: 15px;
                }

                li.member-info p.member-information.text-right {
                    padding-right: 15px;
                }

/*Our Services section     */
.our-services ul {
    margin: 15px 0;
}
        .our-services ul li.service-link {
            margin: 10px 0;
        }
                .our-services ul li.service-link span.glyphicon.glyphicon-ok {
                    color: #2d4b80;
                    margin-right: 10px;
                }
                .our-services ul li.service-link a {
                    color: #7d7d7d;
                }


/*Our Clients Section*/
.our-clients {
    padding-bottom: 15px;
    background: #ebebeb;
}
        .our-clients ul {

        }
                .our-clients ul li.client-link {
                    margin: 25px 0;
                }
                .our-clients ul li.client-link:last-child {
                    float: left;
                    margin-right: 0;
                }


/*Contact Page*/
.contact-page.vc_responsive .entry-content .wpb_row .vc_span12.column_container {
     padding:0;
}


/*Single Services Custom Post Type*/
.page .entry-content section { padding-bottom: 30px;}

        .page-template-single-service-cpt-php .entry-content section .entry-title { margin-top:0;}

        .page-template-single-service-cpt-php .entry-content section img.img-responsive.alignleft.wp-post-image {
            margin-bottom: 30px;
        }
        .page-template-single-service-cpt-php .entry-content section h5{
            font-weight: 600;
            float: left;
            margin: 0 0 30px;
            width: 100%;
            text-transform: uppercase;
        }

/*Testimonials Page*/

.page.page-template-page-testimonials-php ul.testimonials-list {
    margin: 30px 0 0 0;
}
        .page.page-template-page-testimonials-php ul.testimonials-list .testimonial-box { margin-bottom: 40px;}
        .page.page-template-page-testimonials-php ul.testimonials-list .testimonial-box.pull-left {
            clear:left;
        }

                .page.page-template-page-testimonials-php ul.testimonials-list .testimonial-box .testimonial-container {
                    background: url("../../images/bg-blockquote.png") no-repeat 0 100%;
                    padding-bottom: 12px;
                }

                        .page.page-template-page-testimonials-php ul.testimonials-list .testimonial-box blockquote {
                            background: #ebebeb;
                            padding: 10px 16px;
                            margin: 0;
                            font-size: 14px;
                            border: none;
                            min-height: 176px;
                        }

                        .page.page-template-page-testimonials-php ul.testimonials-list .testimonial-box blockquote::before,
                        .page.page-template-page-testimonials-php ul.testimonials-list .testimonial-box blockquote::after {
                                content: "\201C";
                        }

                        .page.page-template-page-testimonials-php ul.testimonials-list .testimonial-box a {
                            border: 0;
                            color: #2d4b80;
                            font-weight: 700;
                            margin-left: 20px;
                        }

                        .page.page-template-page-testimonials-php ul.testimonials-list .testimonial-box a:after {
                        content:',';
                        }

                        .page.page-template-page-testimonials-php ul.testimonials-list .testimonial-box .company-name {
                            margin: 0 0 0 5px;
                        }

/*Blog Page Template  */

.blog main.content > form#searchform {
    clear: left;
    margin-right: 30px;
}

.search-input {
    background: url('../../images/icon-search.png') no-repeat 5px center;
    padding-left: 27px;
}

.blog main.content > hr {
    border: 0;
    border-bottom: 1px solid #eee;
    clear: both;
    margin: 0 45px;
    padding: 15px 0 0 0;
}

.blog main.content > article.entry {
    padding-top: 15px;
}

.blog main.content > article.entry .entry-content.col-md-10 {
    padding: 0;
    width: 76.6666%;
}

.blog .entry-content.border-top {
    margin-top: 25px;
    border-top: 1px solid #c2c2c2;
}

.blog section.blog-posts .post-content-container {
    border-top: 1px solid #c2c2c2;
}

.blog section.blog-posts:first-child .post-content-container {
    border-top: none;
}

        .blog article.post img.alignleft.post-image.entry-image {
            border: 7px solid #c2c2c2;
            margin: 0 0 30px;
        }
        .blog article.post .entry-content .entry-title {
            float: left;
            margin: 0 0 19px 0;
        }
                .blog article.post .entry-content .entry-title a{
                    color: #555555;
                    font-family: "Oswald","Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: 24px;
                    letter-spacing: .05rem;
                }

        .blog article.post .entry-content p {
            clear: left;
            float:left;
        }

                .blog article.post .entry-content p a.more-link.btn.btn-warning {
                    margin-top: 15px;
                    font-size: 10px;
                    text-transform: uppercase;
                }

        /* Post Meta */

.blog article.post .entry-meta.col-md-2 {
    padding: 0;
    width: 19.666667%;
}

        .blog article.post .entry-meta time.entry-time {
            color: #ffffff;
            float: left;
            margin: 0 1em 20px;
            padding: 5px;
            height: 77px;
            width: 77px;
        }
                .blog article.post .entry-meta * {
                    float: left;
                }

                        .blog article.post .entry-meta a {
                            color: #464646;
                            font-size: 12px;
                            line-height: 2em;
                            margin: 4px 0 0;
                        }

                        .blog article.post .entry-meta a:hover span {
                            text-decoration: underline;
                        }

                                .blog article.post .entry-meta .glyphicon {
                                    line-height: 2em;
                                    margin: 2px 8px 0 0;
                                }

                                .blog article.post .entry-meta .entry-categories {
                                    line-height: 2em;
                                }



                        .blog article.post .entry-meta time.entry-time .post-day {
                            float: left;
                            font-size: 30px;
                            margin: auto;
                            width: 100%;
                            text-align: center;
                        }

                        .blog article.post .entry-meta time.entry-time .post-month-year {
                            clear: left;
                            float: left;
                            width: 100%;
                            margin: auto;
                            text-align: center;
                        }

                        .blog article.post .entry-meta span.entry-author {
                            float: left;
                        }

                        .blog article.post .entry-meta span.entry-comments-link {
                            float: left;
                        }


/*Single Post */

.single article.post .entry-header .entry-meta .entry-title {
    color: #555555;
    font-family: "Oswald","Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    float: left;
    margin: 0 0 19px 0;
    letter-spacing: .05rem;
}

.single article.post .entry-header .entry-meta .post-info-container > span {
    margin-right: 25px;
}

.single .featured-img-link {
    margin-bottom: 25px;
}

.single .featured-img-link .post-image {
    border: 7px solid #c2c2c2;
}



/*Footer*/


footer .footer-copy { color:#959595; padding-bottom: 30px;}
