/*Typography*/

@import url(http://fonts.googleapis.com/css?family=Oswald|Lato|Open+Sans:300italic,400italic,600italic,400,300,700,600);
@import url(../fonts/bebasneue/stylesheet.css);


/*Font Classes*/

.open-sans {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.open-sans-bold {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: bold;
}

.bebas-neue {
    font-family: bebas_neueregular,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.oswald {
    font-family: "Oswald","Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
}


body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/*Icon Classes*/
.icon-phone {
    background: url(../../images/icon-phone-orange.png) no-repeat left center;
    padding: 12px 0 12px 36px;
}

.icon-quote:before {
    color: #b6b6b6;
    content: "\201C";
    font-size: 72px;
    font-family: Arial !important;
    display: inline-block;
    height: 0;
    left: -6px;
    position: relative;
    top: 34px;
    padding-right: 2px;
}

/*Widget Styles Override*/
.jmh_pew_readmore {
    padding: 4px 7px;
    color: #ffffff;
    text-transform: uppercase;
    font-style: normal;
    font-size: 10px;
    border-radius: 2px;
}

.jmh_pew_readmore:hover {
    color: #ffffff;
    text-decoration: none;
}

/*Visual Composer Styles Override*/
.wpb_row.vc_row-fluid {
    margin-left: 0px;
    margin-right: 0px;
}

.home.vc_responsive .wpb_row .vc_span12 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

h2.wpb_heading.wpb_teaser_grid_heading {
font-family: bebas_neueregular,"Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 24px;
padding-left: 15px;
color: #ffffff;
}

.vc_responsive .wpb_row .vc_span4 {
 padding-left: 0px;
padding-right: 15px;
}

.wpb_teaser_grid .post-title .link_title {
color: white;
font-family: bebas_neueregular,"Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 18px;
text-transform: uppercase;
letter-spacing: .07em;
}

.vc_read_more.btn.btn-primary {
margin-top: 20px;
font-size: 10px;
text-transform: uppercase;
}

/*Backgrounds*/
.stripe-bg {
    color: white;
    background: -webkit-repeating-linear-gradient(145deg, #ffffff, #ffffff 10px, #333333 10px, #333333 20px);
    background: repeating-linear-gradient(-55deg, #ffffff, #ffffff 10px, #333333 10px, #333333 20px);
}

.black-bg{
    background: #515153;
    color: white;
}

.bg-gray {
    background: #636363;
}

.bg-gray-skew.pull-left {
    background: -moz-linear-gradient(-60deg, transparent 75px, #767676 76px);
    background: -o-linear-gradient(-60deg, transparent 75px, #767676 76px);
    background: -webkit-linear-gradient(-60deg, transparent 75px, #767676 76px);
    background: linear-gradient(-60deg, transparent 75px, #767676 76px);
    color: #ffffff;
    padding: 8px 100px 8px 14px;
}

.bg-gray-skew.pull-right {
    background: -moz-linear-gradient(60deg, transparent 75px, #767676 76px);
    background: -o-linear-gradient(60deg, transparent 75px, #767676 76px);
    background: -webkit-linear-gradient(60deg, transparent 75px, #767676 76px);
    background: linear-gradient(60deg, transparent 75px, #767676 76px);
    color: #ffffff;
    padding: 8px 14px 8px 100px;
}


.bg-orange-skew-right {
    background: -moz-linear-gradient(-60deg, transparent 75px, #dc7d20 76px);
    background: -o-linear-gradient(-60deg, transparent 75px, #dc7d20 76px);
    background: -webkit-linear-gradient(-60deg, transparent 75px, #dc7d20 76px);
    background: linear-gradient(-60deg, transparent 75px, #dc7d20 76px);
    color: #ffffff;
    position: relative;
    float: left;
    padding: 8px 120px 8px 30px;
}


.bg-blue-dia-grad,
.blog article.post .entry-meta time.entry-time {
    background: #425d8d; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #425d8d 0%, #425d8d 49%, #385486 50%, #2d4b80 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#425d8d), color-stop(49%,#425d8d), color-stop(50%,#385486), color-stop(100%,#2d4b80)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #425d8d 0%,#425d8d 49%,#385486 50%,#2d4b80 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #425d8d 0%,#425d8d 49%,#385486 50%,#2d4b80 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #425d8d 0%,#425d8d 49%,#385486 50%,#2d4b80 100%); /* IE10+ */
    background: linear-gradient(135deg,  #425d8d 0%,#425d8d 49%,#385486 50%,#2d4b80 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#425d8d', endColorstr='#2d4b80',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}



/*Borders*/
img.bordered {
    border: solid 6px #222325;
}

/*Twitter Bootstrap Overrides*/

.row.no-margin { margin-left: 0; margin-right: 0}
.no-padding {padding-left:0; padding-right: 0;}

/*Carousel*/

.carousel-indicators {
    bottom: 8px;
    left:auto;
    right: 0;
    width: auto;
    padding-right: 20px;
    margin-left:0;
    margin-bottom: 0;
}

/*.carousel-control.right,*/
/*.carousel-control.left {*/
    /*background-image: none;*/
    /*display: none;*/
    /*visibility: hidden;*/
/*}*/

.carousel-indicators li {
    background-color: #898989;
    border: 1px solid #898989;
    border-radius: 0;
    margin: 0;
}

.carousel-indicators .active,
.carousel-indicators li:hover {
    margin: 0;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #000;
}

code {
    white-space: normal;
}
/*Shortcode Styles*/

/*[contact_info]*/

address.contact-info p {}
address.contact-info a {
    border-bottom: none;
    color: #555555;
}

address.contact-info a.underlined { text-decoration: underline;}

address.contact-info .icon-home {
    background: url('../../images/icon-home.png') no-repeat left center;
    padding: 5px 0 5px 35px;
}

address.contact-info .icon-mobile {
    background: url('../../images/icon-mobile.png') no-repeat left center;
    padding: 5px 0 5px 35px;
}

address.contact-info .icon-phone-blue {
    background: url('../../images/icon-phone-blue.png') no-repeat left center;
    padding: 5px 0 5px 35px;
}

address.contact-info .icon-email {
    background: url('../../images/icon-mail.png') no-repeat left center;
    padding: 5px 0 5px 35px;
}

address.contact-info .icon-web {
    background: url('../../images/icon-web.png') no-repeat left center;
    padding: 5px 0 5px 35px;
}