/* Smartphones (portrait and landscape) ----------- */
/*@media only screen*/
/*and (min-device-width : 320px)*/
/*and (max-device-width : 480px) {*/

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    /* About Page Client Section Styles */
    .our-clients ul li.client-link img { margin:auto; width: 100%}
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1024px) {
    /* Styles */

    /*Testimonials Page*/
    .page.page-template-page-testimonials-php ul.testimonials-list .testimonial-box.col-md-6 {width: 47%;}
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* Styles */

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}